.body{
    /* padding:0px; */
    /* margin:0px; */
    box-sizing:border-box;
    /* background-color:white; */
    
    
  }
  .button1
  {
    border: none;
    color:white;
    background-color:#ff9f00;
    font-size: 1em;;
    padding: 15px 32px;
    transition: all 0.5s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  
  form{
    position:relative;
    top:10px;
  }
  
  .menu{
    border-bottom:1px solid rgba(0,0,0,0.1);
  }
  section{
    position:relative;
    top:4.5em;
  }
  section .container-fluid .thumbnail .caption .buttons{
    margin:1px;
  }
  
  /* section .desc h5 .glyphicon{
    color:#5cb85c;
  }
  section .desc .breadcrumb{
    padding-left:0;
  }
  
  section .desc button:hover{
    background-color:#fff;
    border:1px solid #2874f0;
    color:#2874f0;
  } */
 
  
