@media only screen and (max-width: 500px) {
  .container {
    max-width: 90% !important;
  }
  body {
    background-image: linear-gradient(
      to bottom right,
      #538df6,
      #79a5f7,
      #c0d1f1
    );
    font-family: "Brush Script MT", cursive;
  }
}
h3 {
  margin-top: 1rem;
  padding-top: 1rem;
  font-size: 2rem;
}
body {
  font-family: "Trebuchet MS";
}
input {
  /* margin-bottom: 1px !important;
  height: 1.9rem !important; */
  font-family: "Trebuchet MS";
}
div .row {
  margin-bottom: 1px !important;
}
.container {
  max-width: 50% !important;
  min-width: 40% !important;
  margin-bottom: 2rem !important;
  margin-top: 2rem !important;
  background-color: #ffffff;
  border-radius: 1rem !important;
  padding: 1rem !important;
}
input {
  /* font-size: 10px !important; */
  height: auto;
}
input .valid {
  margin-bottom: 1px !important;
}
button {
  margin: 0;
  padding-top: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #0b1b83;
  color: #ffffff;
}
button:hover {
  background-color: #538df6;
}
.submitButton {
  margin-top: 2rem;
}
