@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.all_content{
    font-family: 'Montserrat','sans-serif';
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.page-heading{
    font-size: 2rem;
    text-align: left;
}

.intro{
    background-color: white;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 3px 3px 3px #d4d3d3;
}

.userImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.userDetail{
    text-align: left;
    border-radius: 50px;
}

.name{
    color: #17252A;
    font-weight: 800;
    font-size: 3.5rem;
}

.location{
    color: #1f5857;
    font-size: 1.5rem;
}

.interest{
    color: #1f5857;
    font-size: 1.5rem; 
}


.section-heading{
    margin-top: 10px;
    margin-left: 15px;
    text-align: center;
    margin-bottom: 10px;
}


.extra-data{
    text-align: left;
    overflow: hidden;
}

.extra-info{
    vertical-align:top;
}

.allExtra{
    background-color: white;
    border-radius: 25px;
    padding: 15px;
    box-shadow: 3px 3px 3px #d4d3d3;
}

.products{
    padding-left: 15px!important;
}

.product{
    background-color: white;
    border-radius: 25px;
    margin-bottom: 10px!important;
    margin-right: 15px!important;
    padding: 10px;
    box-shadow: 3px 3px 3px #d4d3d3;
}

.product-img{
    height: 200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: table-cell;
    border-radius: 25px 25px 0px 0px;
    margin-top: 2px;
}

.product-name{
    color: #1f5857;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.product-price{
    color: #1f5857;
    font-size: 1.5rem;
    display: inline;
}
