
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="footer.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>
<body>
  <footer class="footer">
  	 <div class="container1">
  	 	<div class="row1">
  	 		<div class="footer-col">
  	 			<h4>Get to Know Us</h4>
  	 			<ul>
  	 				<li><a href="/aboutus.html">About Us</a></li>
  	 			</ul>
               </div>
               <div class="footer-col">
                <h4>Connect with Us</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/profile.php?id=100009546061383"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/AmitKum01184222"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/u_amit65/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/amit-kumar-upadhyay-054b07193/"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
  	 		<div class="footer-col">
  	 			<h4>Get Help</h4>
  	 			<ul>
  	 				<li><a href="#">Your Account</a></li>
  	 				<li><a href="#"> Customer Login</a></li>
                       <li><a href="#">Sign Up</a></li>
                      
  	 			</ul>
               </div>
               <div class="footer-col">
                <h4>Make Money</h4>
                <ul>
                    <li><a href="#">Sell Anything</a></li>
                    <li><a href="#">Seller Login</a></li>
                </ul>
            </div>
  	 		
  	 		
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
