body {
  margin: 0;
  font-family: "Poppins-Regular", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color:rgb(233, 228, 228); */
  background-image: linear-gradient(to bottom right, #538df6, #79a5f7, #c0d1f1);
  /* background-image: linear-gradient(to bottom right, #9d4edd, #b16de9, #d9bef0); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
